There are two steps to canonicalization:
- case normalization and variant and extension sorting, which does not require any data and
- replacing the deprecated forms with the standard ones, which does.

The first should be simple.

The later, I think we don't need to be all that precise with it. Basically I think if we come across a tag we don't know about, we'll just let it be. So we would only need to know about the tags that need to be replaced.

Actually, for practical reasons I think we should _only do the later during matching_. The reason is that somebody might be using a tag and then the tag gets added in the registry and we start to replace it and it will stop working for them.

> the ISO 639 registry isn't part of CLDR
- That does not matter. There is nothing that would require us distribute exactly CLDR content as and only that.
- However in practice we'll have to distribute it separately, because it will be needed at lower layer than CLDR.


Ok, so I've pushed prototype that syntactically normalizes the tags and gets the tag from the POSIX locale variables to the [next branch](https://github.com/rust-locale/rust-locale/commit/8c8560c79bf49747a132bfa136f79ecfb36b3568). @mrhota, care to review?

So far:
- I based the parsing on your regexps. Somehow I had mental block against them before you created that, but they do look more readable than the manual parsing I started to write. I haven't done the subparsing of the variants and extensions yet though and proper handling of that is going to be somewhat complicated (especially the `-u-` extension has quite a bit of its own substructure).
- I moved it into a subcrate that will eventually move into separate repository. I want to have the `locale` always depend on the latest version so that the global `Locale` instances will be shared even if multiple versions of the main `locale` crate get pulled in one binary due to incompatible version requirements. It can, of course, always happen to `locale_core` too, but as long as nobody will use it directly, we should avoid it in practice.
- I have done an example, `locale-core-info`, that will print the tag it derived from environment.


@jan-hudec ok, I just took a quick glance now, but I'll take longer look tonight (CST).

What's the use-case for users pulling in multiple versions of the locale crate? Would someone do that on purpose?


> What's the use-case for users pulling in multiple versions of the locale crate? Would someone do that on purpose?

It just happens as various crates are updated to newer version of their dependencies at different times. At a time, [exa](https://github.com/ogham/exa) was getting linked to libc 0.1 _and_ libc 0.2, because `locale` still used 0.1 while other dependencies were already upgraded. And for locale
- it is likely other libraries will depend on it and
- it is likely to go through some major revisions given the scope and the rate at which features are added to CLDR.

Because unfortunately quite many changes are breaking in Rust.

Having multiple versions of `locale` might still cause problems though, because if two libraries depend on `locale` to implement `Localizable` for their types, but end up implementing different versions of it, it won't be usable for formatting anyway.


Why is this something we should care about and write code to try to work around? It seems like the problem in exa was that two versions of the lib were pulled in, not that exa lacked code to handle that possibility. If you're pulling in two versions of `locale`, isn't _that_ the bug?


No, that isn't a bug. It is what Rust does by design. And for most libraries there is absolutely no problem. The only moment a problem occurs is when there is a user-settable global variable. Which is rare, but `locale` is special and needs one.


Actually, problem also occurs when implementing traits from other libraries, but if that problem occurs, the compilation will fail. On the other hand with the global instance it will silently split, so everything compiles, but then some things will silently not work in a way that will be hard to analyse. That's why I want to avoid it for the global instances (`GLOBAL_LOCALE` and `CURRENT_LOCALE`) specifically.


Let's keep this issue about langtag canonicalization. If you want to deal with the fallout from introducing global mutable state and its bad interactions with cargo, we can have a new issue for it where it can be tracked and discussed separately from what I think are more pressing concerns.

[Cargo issue 2363](https://github.com/rust-lang/cargo/issues/2363) is relevant to the multi-version + global-mutable-state problem, if you create an issue for it.

Our issues should be focused, and we should break out new ones as needed.


So, back to the canonicalization. I looked in the second part of BCP47, [RFC4647](https://www.rfc-editor.org/rfc/rfc4647.txt), and it says:

> A basic language range differs from the language tags defined in [RFC4646](https://www.rfc-editor.org/rfc/rfc5646.txt) only in that there is no requirement that it be "well-formed" or be validated against the IANA Language Subtag Registry.

And the semantic difference is that RFC5646 tags identify language of resources while the RFC4647 ranges identify required or accepted language. And the `Locale` does the _later_.

The `Locale` and the `LanguageTag`s that compose it still need to be syntactically valid¹ and should be case-normalized and possibly ordered to simplify matching, but we shouldn't try to fix unknown subtags, at least not automatically.

We will probably want to support it, but only as:
- add-on functionality for applications that need to tag resources and
- understand the deprecated subtags when looking up desired resources as courtesy to users with legacy setups.

---

¹ The range grammar in RFC4647 is less strict than the tag one in RFC5646, but anything that is not a valid tag according to RFC5646 would never match anything anyway, so we can safely require that.


To clarify: are you suggesting breaking canonicalization into two or more subparts: case-normalization, sorting, validity checks against the ISO 639 DB?

If so, then I vigorously agree.


and validity checks against the ISO 639 db should be entirely optional


Yes, precisely.


I did some research and it looks like ISO 639 (or something very similar) is provided with CLDR ([supplemental/aliases.json](https://github.com/unicode-cldr/cldr-core/blob/master/supplemental/aliases.json)).

Installing CLDR data (which should be a separate crate) will therefore allow us to provide validity checks and perform full canonicalization for language tags if we want.


… now where does that live in http://unicode.org/repos/cldr/. Oh, right, http://unicode.org/repos/cldr/tags/latest/common/supplemental/supplementalMetadata.xml


yes, i think so. also, the files in common/validity.

I'm not sure of the state of xml parsing libs in rust, which is why I
pointed at the json file first. Obviously, the XML files are more complete,
if a bit tougher to parse with pure rust.

Perhaps we should start a cldr-data repo to start discussing delivery and
packaging mechanisms.
On May 13, 2016 12:48 AM, "Jan Hudec" notifications@github.com wrote:

> … now where does that live in http://unicode.org/repos/cldr/. Oh, right,
> http://unicode.org/repos/cldr/tags/latest/common/supplemental/supplementalMetadata.xml
> 
> —
> You are receiving this because you were mentioned.
> Reply to this email directly or view it on GitHub
> https://github.com/rust-locale/rust-locale/issues/12#issuecomment-218957532


> Perhaps we should start a cldr-data repo to start discussing delivery and
> packaging mechanisms.

Yes, we should.

I need to push out the subtag getters for LanguageTag that I have prepared except test for `-t-` extension and then we should start thinking about the CLDR data.

> I'm not sure of the state of xml parsing libs in rust

It does not have to be in Rust. It will be just code-generation the result of which will be included in the crate on crates.io, so we can do that in anything, e.g. XSLT.


Ok, I pushed https://github.com/rust-locale/rust-locale/commit/9bb840770f83a35d4bf12a6f64c765a25478fb29 and that is about as far as I want to go in the `locale_core` submodule. So now we should plan the split, the interfaces and the storage format for CLDR data.


Inbound tags are RFC4647 and that does **not** call for canonicalization, therefore we **won't** do any!

When looking up match in the data, we will understand canonical tags, by virtue of taking the list from CLDR, and their grandfathered aliases imported from the [registry](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry), but that isn't canonicalization.

Closing as invalid.